{% extends "layout.html" %}

{% block title %} Shops {% endblock %}

{% block active1 %} active {% endblock %}

{% block content %}
    <h4 class="title">Shops page</h4>
    <div class="container">
        <div class="row row-cols-sm-1">
            <div class="col-lg-3 rounded text-center mb-lg-0" style="background-color: #D991BA; margin-bottom: 20px">
                <p style="margin-top: 20px"><b>Shops</b></p>
                <div class="row row-cols-1 g-3">
                    {% for shop in shops %}
                    <div class="col">
                        <a href="/shops/{{ shop.id }}" class="btn btn-custom" style="background-color: rgba(0, 0, 0, 0.2)">{{ shop.name }}</a>
                    </div>
                    {% endfor %}
                </div>
                <p style="margin-top: 20px"></p>
            </div>
            <div class="col-lg-9">
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
                    {% for product in products %}
                    <div class="col">
                        <div class="card" style="background-color: #FFB17A">
                            <div class="card-body text-center">
                                <p><b>{{ product.name }}</b></p>
                                {% load static %}
                                <img src="{% static 'images/' %}{{ product.id }}.jpg" alt="Image {{ product.id }}" style="width:200px; height: 150px">
                                <p style="margin-top: 10px">{{ product.desc }}</p>
                                <p style="margin-top: 10px">Price: {{ product.price }}$</p>
                                <a href="/add_to_cart/{{ product.id }}" class="btn btn-custom" style="margin-bottom: 10px; background-color: rgba(0, 0, 0, 0.2)">Add to cart</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{#    <div>#}
{#        {% for i in '012345'|make_list %}#}
{#            {% for j in 'abcdef'|make_list %}#}
{#                {{ j }} {{ i }}#}
{#            {% endfor %}#}
{#        {% endfor %}#}
{#    </div>#}

{% endblock %}